spring:
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:true}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS:true}
  profiles:
    default: local

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

  flyway:
    enabled: true
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/postgres}
    user: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    locations: classpath:db/migration
    baseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: ${SERVER_PORT:8080}

app:
  jwt:
    secret: ${JWT_SECRET:change-me}
    refresh-secret: ${REFRESH_SECRET:change-refresh}
    access-expiration-minutes: 15
    refresh-expiration-days: 30

  upload:
    storage-path: ${IMAGE_STORAGE_PATH:uploads}
    base-url: ${IMAGE_BASE_URL:http://localhost:8080/uploads}

  images:
    storage-path: ${IMAGE_LIBRARY_PATH:uploads/images}

  vip:
    default-days: 7

  reset-password:
    frontend-url: ${RESET_PASSWORD_FRONTEND_URL:http://localhost:5173/reset-password}
    from-email: ${RESET_PASSWORD_FROM_EMAIL:no-reply@carzavenue.com}
    expiration-minutes: ${RESET_PASSWORD_EXPIRATION_MINUTES:15}

google:
  oauth:
    client-id: ${GOOGLE_CLIENT_ID:}
    client-secret: ${GOOGLE_CLIENT_SECRET:}
    redirect-uri: ${GOOGLE_REDIRECT_URI:https://hyman-dermatomic-imputedly.ngrok-free.dev/auth/google/callback}
    frontend-callback-url: ${FRONTEND_CALLBACK_URL:https://hyman-dermatomic-imputedly.ngrok-free.dev/auth/callback}

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: INFO
